:root{
    --accent: #3563E9;
    --secondary: #90A3BF;
}
/*filtro*/
.filtros{
    justify-content: center;
    gap: 3rem;
}

.caixa{
    background-color: white;
    border-radius: 14px;
    padding: 2rem;
    width: 100%;
}

.caixa h4>span{color:var(--accent);}

.caixa div, .caixa label{
    margin-top: 0.38rem;
    display: flex;
    justify-content: space-between;
}

.caixa label{
    flex: 1;
    flex-direction: column;
    padding: 0 2rem;
}

.caixa label:not(:last-child){
    border-right: 1px solid #e5eaf1;
}

.caixa input, .caixa select{
    color: var(--secondary);
    padding: 6px 8px;
    border: none;
    background-color: white;
    border-radius: 6px;
}

.filtros button{padding: 15px;}
.filtros button>i{color: white;font-size: calc(100% + 0.2rem);}

/*lista*/
.carros{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.carro{padding: 1.3rem 2rem;margin-bottom: 1.8rem;}
.carro:not(:nth-child(4n)){margin-right: 1.8rem;}

.detalhes{
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}

.carro img{
    width: 100%;
    height: 150px;
    margin: 0.5rem 0;
    object-fit: cover;
}

.detalhes i, .detalhes, .tipoCarro, h4>span{color: var(--secondary);}
h4>span, .tipoCarro{font-weight: 500;}